opencv-contrib-python >= 4.9.0.0
pytesseract >= 0.3.9
zxing-cpp == 2.2.0
pandas >= 2.2.2
scikit-image >= 0.23.2
numpy == 1.26.4
openpyxl >= 3.0.10
thefuzz == 0.22.1
python-Levenshtein == 0.25.0
pygbif >= 0.6.1
lark >= 1.1.5
wand
pytest >= 7.1.2
